{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "extends": "airbnb",
  "globals": {
    "err": true
  },
  "rules": {
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "max-len": [
      2,
      150,
      4
    ],
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "semi": 0,
    "no-unused-vars": ["error",
      {
        "argsIgnorePattern": "^next"
      }],
    "flowtype/define-flow-type": 1,
    "flowtype/require-parameter-type": 1,
    "flowtype/require-return-type": [
      1,
      "always",
      {
        "annotateUndefined": "never"
      }
    ],
    "flowtype/space-after-type-colon": [
      1,
      "always"
    ],
    "flowtype/space-before-type-colon": [
      1,
      "never"
    ],
    "flowtype/type-id-match": [
      1,
      "^([A-Z][a-z0-9]+)+Type$"
    ],
    "flowtype/use-flow-type": 1
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}
